<!DOCTYPE html>
<html>
<head>
    <title>Form CSS</title>
	<meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body ng-app="formExample">
    <div ng-controller="ExampleController">
        <form novalidate class="css-form">
            Name: <input type="text" ng-model="user.name" required /><br />
            E-mail: <input type="email" ng-model="user.email" required /><br />
            Gender: <input type="radio" ng-model="user.gender" value="male" />male
            <input type="radio" ng-model="user.gender" value="female" />female<br />
            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" ng-click="update(user)" value="Save" />
        </form>
    </div>
    <script src="../../angular/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>
